main {
    align-items: center;
}

form{
    border: 1.5px solid rgb(2, 165, 130);
    margin: 6rem 30rem 0 30rem;
    padding:1rem 4rem 1rem 2rem;
}

form ul{
    display: flex;
    flex-direction: column;
    padding:0;
}

form li{
    width:100%;
}

li input{
    width:95%;
    padding: 1rem;
    border-top:0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    background-color: transparent;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: .4rem;
}

button{
    border-radius: 5px;
    font-size: 15px;
    padding: .3rem;
}

#submit-btn { 
    background-color: rgb(250, 213, 225);
}

#submit-btn:hover{
    background-color: rgb(255, 117, 161);
}

#clear-btn{
    padding-right:.5rem;
    padding-left:.5rem;
}


@media screen and (max-width: 480px){
    form{
        margin: 8rem 3rem 0 3rem;
        padding:1rem 4rem 1rem 2rem;
    }
}

@media screen and (min-width:480px) and (max-width:1024px){
    form{
        margin: 8rem 6rem 0 6rem;
        padding:1rem 4rem 1rem 2rem;
    }
}

@media screen and (min-width:1024px) and (max-width:1499px){
    form{
        margin: 10rem 10rem 0 10rem;
        padding:1rem 4rem 1rem 2rem;
    }
}