body{
    background-image: url("/Untitled\ design\ \(43\).png");
    background-position: center;
    background-size: cover;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color:inherit;
}

main {
    align-items: center;
}

form{
    border: 1.5px solid rgb(2, 165, 130);
    margin: 6rem 24rem 0 24rem;
    padding:2rem 3rem 2rem 3rem;
    border-radius: 9px;
}

form h2{
    font-size: 26px;
    font-family: cursive;
}

form ul{
    display: flex;
    flex-direction: column;
    padding:0;
}

form li{
    padding:.7rem;
    font-size: 16px;
    font-family: cursive;
    font-weight:normal;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: .4rem;
}

button{
    border-radius: 5px;
    font-size: 15px;
    padding: .3rem;
}

#submit-op-btn { 
    background-color: rgb(250, 213, 225);
}

#submit-op-btn:hover{
    background-color: rgb(255, 117, 161);
}

#clear-op-btn{
    padding-right:.5rem;
    padding-left:.5rem;
}


@media screen and (max-width: 480px){
    form{
        margin: 6rem 2rem 0 2rem;
        padding:1.5rem 1rem 1.5rem 1rem;
    }
    
    form h2{
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (min-width:480px) and (max-width:1024px){
    form{
        margin: 6rem 6rem 0 6rem;
        padding:1.5rem 1rem 1.5rem 1rem;
    }
    
    form h2{
        font-size: 22px;
        text-align: center;
    }

    form li{
        font-size: 20px;
    }
}

@media screen and (min-width:1024px) and (max-width:1499px){
    form{
        margin: 6rem 8rem 0 8rem;
        padding:1.5rem 1rem 1.5rem 1rem;
    }
    
    form h2{
        font-size: 26px;
        text-align: center;
    }

    form li{
        font-size: 24px;
    }
}

